@using YeterZüccaciye.Models.Sınıflar
@model List<SalesMove>
@{
    ViewBag.Title = "SalesExplanation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Satış Detay</h2>
<table class="table table-bordered ">
    <tr>
        <th>SATIŞ ID</th>
        <th>ÜRÜN</th>
        <th>MÜŞTERİ</th>
        <th>PERSONEL</th>
        <th>FİYAT</th>
        <th>ADET</th>
        <th>TOPLAM</th>
        <th>TARİH</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SalesID</td>
            <td>@x.Product.PRODUCTNAME</td>
            <td>@x.Customers.CustomerNAME  @x.Customers.CustomerUSERNAME</td>
            <td>@x.Staff.PersonelAD @x.Staff.PersonelUSERNAME</td>
            <td>@x.Price</td>
            <td>@x.Amount</td>
            <td>@x.Total</td>
            <td>@x.SalesDate</td>
        </tr>
    }
</table>
<button class="btn btn-default">Yazdır</button>


