@model YeterZüccaciye.Models.Sınıflar.Invoice_part
@{
    ViewBag.Title = "AddPart";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Fatura Kalem Ekleme Sayfası </h2>
<br />
<form class="form-group" method="post">
    <label>AÇIKLAMA</label>
    @Html.TextBoxFor(x => x.Explanation, new { @class = "form-control" })
    <br />
    <label>MİKTAR</label>
    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
    <br />
    <label>BİRİM FİYAT</label>
    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
    <br />
    <label>TUTAR</label>
    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
    <br />
    <label>FATURA ID</label>
    @Html.TextBoxFor(x => x.InvoiceID, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>

