@using YeterZüccaciye.Models.Sınıflar
@model List<SalesMove>
@{
    ViewBag.Title = "CustomerSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Müşteri Alış-Veriş Listesi</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.cust</li>
</ol>
<table class="table table-bordered ">
    <tr>
        <th>SATIŞ ID</th>
        <th>ÜRÜN</th>
        <th>Personel</th>
        <th>FİYAT</th>
        <th>ADET</th>
        <th>TOPLAM</th>
        <th>TARİH</th>
        <th>YAZDIR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SalesID</td>
            <td>@x.Product.PRODUCTNAME</td>
            <td>@x.Staff.PersonelAD  @x.Staff.PersonelUSERNAME</td>
            <td>@x.Price</td>
            <td>@x.Amount</td>
            <td>@x.Total</td>
            <td>@x.SalesDate</td>
            <td><a href="#" class="btn btn-success">Yazdır</a></td>
        </tr>
    }
</table>

